{% extends "base.html"%}
{% block content %}

<div class="grid-container">
  <div class="item1">
    <h1>Section 2: Cryptography</h1>
    <p>This study will contain three informational videos and the corresponding quizzes. You can interact with the
      chat guide and rely on it
      to help you to understand the concept better. </p>
  </div>
  <div class="item2">
    <ul>

      {%if sec1%}
      <li><a href="{{url_for('entanglement')}}">Section 1 <i style="color:green;" class="fas fa-check-circle"></i> </a>
      </li>
      {% else %}
      <li><a class="isDisabled" href="" disabled>Section 1</a></li>
      {% endif %}

      {%if sec2%}
      <li><a class="active">Section 2 <i style="color:green;" class="fas fa-check-circle"></i></a></li>
      {% else %}
      <li><a class="active">Section 2</a></li>
      {% endif %}

      {%if sec3%}
      <li><a href="{{url_for('cloud')}}">Section 3 <i style="color:green;" class="fas fa-check-circle"></i></a>
      </li>
      {% else %}
      <li><a class="isDisabled" href="" disabled>Section 3</a></li>
      {% endif %}

    </ul>

  </div>
  <div class="item3">
    <video id="player" width="854" height="488" controls>
      <source src="../static/Cryptography.mp4" type="video/mp4">
   {#   <source src="../static/Cryptography.mov" type="video/mp4"> UNCOMMENT AND REPLACE WHEN DEPLOYING #}


      Your browser does not support the video tag.
    </video>
  </div>
  {% if not sec2 %}

  <div id="quiz-body-2" class="item5">
    <div class="quiz">

      <form method="POST">


        <div class="form-check">
          <h2>Section 2 Quiz</h2>
          <hr>
          {{ form.hidden_tag() }}
          <h4>{{ form.question1.label(class="question-text") }}</h4>
          <p>{{ form.question1(class="quiz-text") }}</p>
          <h4>{{ form.question2.label(class="question-text") }}</h4>
          <p>{{ form.question2(class="quiz-text") }}</p>
          <h4>{{ form.question3.label(class="question-text") }} </h4>
          {{ form.question3(class="form-control form-control-lg") }}
          <br>
          <button id="fake-button" class='btn btn-secondary' disabled></button>
          <div id="submit-area" class="submit-area">
 <button id="submit" class='btn btn-info'
              onclick="updateDatabase()">{{ form.submit( class='btn btn-info') }}</button>          </div>

        </div>

        {%if submitted%}
        <br>
        <div class="submitted">Thank you for submitting! Click next section to continue.</div>
        {%endif%}

      </form>
    </div>
    <br>

  </div>
    {% endif %}

</div>

<script type="text/javascript">
  var u = "{{user}}"

  setUp(u, 5);

  {%if not sec2 %}
    addQuizListener(2);
  {% endif %}

</script>
{% endblock %}