{% extends "base.html"%}
{% block content %}


<br>

<div class="d-flex justify-content-center">

    <div class="container align-self-center">
        <div class="jumbotron">
            <h1 class="display-4">Section 2</h1>
            <p class="lead">You will now begin Section 2 of the study.</p>
            {#<hr class="my-4">
            <p>Here are potentially some more instructions</p>#}
            <p class="lead">
                {% if start == 'e' %}
                <a href="{{url_for('entanglement')}}"> <button type="button" class="btn btn-primary btn-lg">Begin
                        </button></a>
                {% elif start == 'c' %}
                <a href="{{url_for('superposition')}}"> <button type="button" class="btn btn-primary btn-lg">Begin
                        </button></a>
                {%endif%}
            </p>
        </div>

    </div>

</div>




{% endblock %}