{% extends "base.html"%}
{% block content %}

<h2>Test: the chatbot will "send a message" around the 5 second mark</h2>
<p>Press play on the video:</p>
<video id="player" width="320" height="240" controls>
  <source src="../static/stockvid.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

<div id="chatbot-text" class="hidestart">
  <p>Hello! Here is a hint for the user</p>
  <p id="tell-me-more" class="more-link" onclick="showMore()">Tell me more</p>
  <p id="more-text" class="more"> More text for the user </p>
</div>

<div id="chatbot" class="col-sm-4">
  <div class="item">
    <p>
      <span id="badge" class="notify-badge">1</span>
      <img src="../static/chatbot-icon.png" alt="chatbot-icon" width="50" height="50" >
    </p>
  </div>
</div>

<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div id="player"></div>


<script type="text/javascript">
  // listen on the event
  var video = document.getElementById("player");


  function showMore() {
    var moreText = document.getElementById("more-text");
    moreText.style.display = "block";


    var badge = document.getElementById("badge");
    if (badge.style.display === "block"){
      badge.style.display = 'none';
    }
  }

  // 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.
  var player;

  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      height: '390',
      width: '640',
      videoId: 'csgEVurrBpU',
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }

  // 4. The API will call this function when the video player is ready.
  function onPlayerReady(event) {
    event.target.playVideo();
  }

  // 5. The API calls this function when the player's state changes.
  //    The function indicates that when playing a video (state=1),
  //    the player should play for six seconds and then stop.
  var done = false;
  var checkpoint_1 = false;
  var checkpoint_2 = false;

  function onPlayerStateChange(event) {

    /*
    if (event.data == YT.PlayerState.PLAYING && !done) {
      setTimeout(pauseVideo, 6000);
      done = true;
    }*/
    //first pause 

    //this needs to be done maunally for now for each video??
    // just watch for the time and pause the video...
    if (event.data == YT.PlayerState.PLAYING) {
      if (!checkpoint_1) {
        setTimeout(pauseVideo, 6000);
        checkpoint_1 = true;
      } else if (!checkpoint_2) {
        setTimeout(pauseVideo, 6000);
        checkpoint_2 = true;
      }
    }
  }

  function stopVideo() {
    player.stopVideo();
  }

  function pauseVideo() {
    player.pauseVideo();
    var badge = document.getElementById("badge");
    badge.style.display = "block";
    var bot = document.getElementById("chatbot-text"); //this works
    bot.style.display = "block";

  }
  function toggleChatbot(){
    console.log("toggle")

    var badge = document.getElementById("badge");
    if (badge.style.display === "block"){
      badge.style.display = 'none';
    }

    // console.log(bot.style.display)

  /*
    if (bot.style.display === 'none'){
      console.log("none");
      bot.style.display = 'block';
    }
    else{
      console.log("block");
      bot.style.display = 'none';
    }*/

  }


  // when video reaches time, chatbot displays text 
  // pause the video 
  // change to embedded video
  /*
  video.addEventListener('timeupdate', (event) => {
    // change this to a variable 
    if (video.currentTime > 5.000 && video.currentTime < 5.2500) { //this is kind of scrappy, it didnt work for exact time 
      // alert("Send notification");
      var bot = document.getElementById("chatbot-text"); //this works
      bot.style.display = "block";
    }
  });
  */



  // eventually we can use this function depending on the video 
  /*
  function sendBotMessage(time, videoID) {
    // listen on the event
    var video = document.getElementById(videoID);

    // when video reaches time, chatbot displays text 
    video.addEventListener('timeupdate', (event) => {
      // change this to a variable 
      if (video.currentTime > time && video.currentTime < (time+0.2500)) { //this is kind of scrappy, it didnt work for exact time 
        // alert("Send notification");
        var bot = document.getElementById("chatbot-text"); 
        bot.style.display = "block";
      }
    });
  }
*/
</script>

{% endblock %}

